<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matt.copass">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/copass_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/copass_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Copass">
        <activity android:name=".VendorActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UserActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>